<ion-view>
  <ion-nav-bar>
    <ion-nav-title>
      Add WorkStation
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <buttons class="button icon ion-arrow-left-a" ng-click="btnBack()"></buttons>
    </ion-nav-buttons>

  <ion-content>
    <img src="img/ionic.png" style="margin-left: auto;margin-right: auto;display: block;padding:2em;">
    <div class="list">

      <label class="item item-input">
          <span class="input-label">PropertyName :</span>
          <button class="button button-positive ion-ios-search-strong" modal-select ng-model="form.someModel" options="selectables" modal-title="Select a PropertyName" has-search="true" option-getter="getOption(option)" search-properties="search_properties">
              {{ form.someModel }}
              <div class="option">
                {{option.PropertyName}}
              </div>
          </button>


      </label>

      <label class="item item-input">
          <span class="input-label">WorkStaion Code :</span>
          <input type="text" ng-model="form.txt_wscode" placeholder="WorkStaion Code">
      </label>

      <label class="item item-input">
          <span class="input-label">Mac Address :</span>
          <input type="text" ng-model="form.txt_macadd" ui-mask="**-**-**-**-**-**">
      </label>

     <label class="item item-input">
       <span class="input-label">Start Date :</span>
          <ionic-datepicker date="SDate">
              <button class="button button-block ion-calendar" ng-click="openDatePickerOne()"> {{SDate | date:'dd/MMMM/yyyy' }} </button>
          </ionic-datepicker>
      </label>

      <label class="item item-input">
       <span class="input-label">End Date :</span>
        <ionic-datepicker date="EDate">
              <button class="button button-block ion-calendar" ng-click="openDatePickerTwo()"> {{EDate | date:'dd/MMMM/yyyy' }} </button>
        </ionic-datepicker>
      </label>

      <div class="content padding">

        <button class="button button-block button-balanced" ng-click="btnADD()">
          DONE
        </button>

      </div>

    </div>
  </ion-content>
</ion-view>
