<ion-tabs class="tabs-dark tabs-icon-top">
  <ion-tab
      title="Property"
      icon-on="ion-document-text"
      icon-off="ion-document-text"
      ui-sref="tabs.Property"
      >
      <ion-nav-view name="view_property">
  </ion-tab>

  <ion-tab
      title="WorkStation"
      icon-on="ion-android-desktop"
      icon-off="ion-android-desktop"
      ui-sref="tabs.WorkStations"
      >
      <ion-nav-view name="view_workstation">
  </ion-tab>

  <ion-tab
      title="User"
      icon-on="ion-android-person"
      icon-off="ion-android-person"
      ui-sref="tabs.User"
      >
      <ion-nav-view name="view_user">
  </ion-tab>

  <ion-tab
      title="Log"
      icon-on="ion-stats-bars"
      icon-off="ion-stats-bars"
      ui-sref="tabs.Log"
      >
      <ion-nav-view name="view_log">
  </ion-tab>



</ion-tabs>
